body, html {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #F0F2F5;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  -webkit-transition: -webkit-box-shadow 100ms cubic-bezier(0.08, 0.52, 0.52, 1);
  transition: -webkit-box-shadow 100ms cubic-bezier(0.08, 0.52, 0.52, 1);
  transition: box-shadow 100ms cubic-bezier(0.08, 0.52, 0.52, 1);
  transition: box-shadow 100ms cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-box-shadow 100ms cubic-bezier(0.08, 0.52, 0.52, 1);
}

button:focus {
  -webkit-box-shadow: 0 0 1px 2px rgba(88, 144, 255, 0.75), 0 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px 2px rgba(88, 144, 255, 0.75), 0 1px 1px rgba(0, 0, 0, 0.15);
}

.main {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-top: 92px;
  padding-bottom: 192px;
  min-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 980px;
  margin: 0 auto;
}

.main__left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 32px;
  width: 580px;
}

.main__text {
  margin: -7px 0 20px 0;
  width: 500px;
  font-size: 28px;
  line-height: 32px;
}

.main__logo {
  margin-left: -28px;
  padding: 84px 0 0;
  display: block;
  height: 106px;
}

.main__right {
  width: 396px;
}

.main__form {
  background: #FFFFFF;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  padding: 10px 0 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__create {
  text-align: center;
  font-size: 14px;
  margin: 28px 0 0 0;
}

.main__bold {
  font-weight: 600;
  cursor: pointer;
}

.main__bold:hover {
  text-decoration: underline;
}

.form__input {
  font-family: inherit;
  height: 22px;
  display: block;
  margin: 6px 0;
  border: 1px solid #dddfe2;
  color: #1C1E21;
  height: 22px;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
}

.form__input::-webkit-input-placeholder {
  color: #90949c;
}

.form__input:-ms-input-placeholder {
  color: #90949c;
}

.form__input::-ms-input-placeholder {
  color: #90949c;
}

.form__input::placeholder {
  color: #90949c;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 0 2px #e7f3ff;
          box-shadow: 0 0 0 2px #e7f3ff;
  caret-color: #1877f2;
  border-color: #1877f2;
  outline: none;
}

.form__input:focus::-webkit-input-placeholder {
  color: #bec3c9;
}

.form__input:focus:-ms-input-placeholder {
  color: #bec3c9;
}

.form__input:focus::-ms-input-placeholder {
  color: #bec3c9;
}

.form__input:focus::placeholder {
  color: #bec3c9;
}

.form__button {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-top: 6px;
  padding: 0 16px;
  width: 332px;
  height: 48px;
  font-size: 20px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  font-family: inherit;
  -webkit-transition: background 200ms cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-box-shadow 100ms cubic-bezier(0.08, 0.52, 0.52, 1);
  transition: background 200ms cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-box-shadow 100ms cubic-bezier(0.08, 0.52, 0.52, 1);
  transition: background 200ms cubic-bezier(0.08, 0.52, 0.52, 1), box-shadow 100ms cubic-bezier(0.08, 0.52, 0.52, 1);
  transition: background 200ms cubic-bezier(0.08, 0.52, 0.52, 1), box-shadow 100ms cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-box-shadow 100ms cubic-bezier(0.08, 0.52, 0.52, 1);
}

.form__button:focus {
  -webkit-box-shadow: 0 0 1px 2px rgba(88, 144, 255, 0.75), 0 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px 2px rgba(88, 144, 255, 0.75), 0 1px 1px rgba(0, 0, 0, 0.15);
}

.form__button--blue {
  background: #1877f2;
}

.form__button--blue:hover {
  background: #166fe5;
}

.form__button--blue:active {
  background: #29487d;
}

.form__button--green {
  background: #42b72a;
}

.form__button--green:hover {
  background: #36a420;
}

.form__button--green:active {
  background: #2b9217;
}

.form__button--small {
  font-size: 17px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.form__button--antisocial {
  margin-top: 12px;
}

.form__link {
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-top: 16px;
  text-decoration: none;
}

.form__link:hover {
  text-decoration: underline;
}

.form__separator {
  width: calc(100% - 32px);
  margin: 20px 16px;
  border-bottom: 1px solid #dadde1;
}

.footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 26px;
  background: #FFFFFF;
}

.footer ul {
  font-size: 0;
  padding: 0;
  list-style-type: none;
}

.footer ul li {
  display: inline-block;
}

.footer__misc {
  margin: 0 0 0 -20px;
}

.footer__misc li {
  line-height: 1.6;
  padding-left: 20px;
}

.footer__languages {
  margin: 0 0 0 -10px;
}

.footer__languages li {
  padding-left: 10px;
}

.footer__link {
  font-size: 12px;
  color: #8a8d91;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__link--selected {
  text-decoration: none;
  cursor: default;
  color: #737373;
}

.footer__link--selected:hover {
  text-decoration: none;
}

.footer__wrapper {
  width: 980px;
  margin: 0 auto;
}

.footer__button {
  height: 20px;
  border-radius: 2px;
  width: 30px;
  cursor: pointer;
  font-size: 10px;
  background: #f5f6f7;
  border: 1px solid #ccd0d5;
  color: #8a8d91;
}

.footer__copyright {
  color: #737373;
  font-size: 11px;
}

.footer__separator {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
  border-bottom: 1px solid #dadde1;
}

.footer__copyright {
  margin: 20px 0;
}

.info {
  overflow: auto;
  background: #F0F2F5;
  -webkit-transition: 1.6s -webkit-transform;
  transition: 1.6s -webkit-transform;
  transition: 1.6s transform;
  transition: 1.6s transform, 1.6s -webkit-transform;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 120%;
  border-left: 2px solid #1C1E21;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}

.info a {
  color: #1877f2;
}

.info h1 {
  margin-top: 0;
}

.info h2 {
  margin-bottom: 10px;
}

.info p, .info ul {
  margin: 10px 0;
}

.info__content {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 20px 0;
  width: 960px;
}

.info--hidden {
  -webkit-transform: translateX(calc(100vw + 2px));
          transform: translateX(calc(100vw + 2px));
}
/*# sourceMappingURL=style.css.map */